$primary-color: rgb(227,218,198 );
$secondary-color: rgb(20,10,20);

$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;

$light-color: #f8f9fa;
$dark-color: #343a40;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$red-100: #ffe3e3;
$red-200: #ffc9c9;
$red-300: #ffa8a8;
$red-400: #ff8787;
$red-500: #ff6b6b;
$red-600: #fa5252;
$red-700: #f03e3e;
$red-800: #e03131;
$red-900: #c92a2a;

// Add more colors as needed...
